/* You can add global styles to this file, and also import other style files */
body{
  overflow-x: hidden;
  background-image: url("http://www.uniwallpaper.com/static/images/pexels-photo-126590.jpeg");
  background-size: 100%;
}
